.InfoBox{
    background: #efefef;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;

    @media screen and (min-width: 767px){
        margin-left: 30px;
    }

    @media screen and (min-width: 1024px){
        margin-left: 30px;
    }

    &-Header{
        display: flex;
        align-items: center;
        justify-content: center;

        &-Icon{
            width: 50px;
            height: 40px; 

            &_events{
                background-image: url(../../assets/img/dogadaji/event-icon.png);
            }

            &_speakers{
                background-image: url(../../assets/img/dogadaji/speakers-icon.png);
            }
        }

        &-Tekst_margin{
            margin-left: 15px;
        }
    }

    &-Subheader{
        display: flex;
        align-items: center;
        justify-content: center;

        &-Container{
            display: flex;
            flex-direction: column;

            &_sizeImege{
                width: 50px;
                height: 40px;
            }

            &_margin{
                margin-left: 30px;
            }
        }

        &-Text{
            text-align: center;
        }
    }

    &-About{
        & p{
            text-align: center;
            font-size: 20px;
        }
    }

    &-Prijava{
        text-align: center;
        text-decoration: none;
        color: black;

        &_fontSizeS{
            font-size: 25px;
        }
    }
}

